.burger {
    z-index: 100;
    display: none;
    height: 19px;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    span {
        z-index: 100;
        background: #fff;
        width: 28px;
        height: 3px;
    }
}