.header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    top: 45px;
    overflow: hidden;
    .container_wide {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        display: flex;
    }
    &__logo {
        a {
        font-weight: 500;
        font-size: 36px;
        text-decoration: none;
        color: #FFFFFF;
        }
    }
    &__nav {
        &-list {
            display: flex;
        }
        &-item {
            font-weight: 500;
            font-size: 20px;
            list-style-type: none;
            margin-right: 24px;
            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
    &__socials {
        width: 110px;
        display: flex;
        justify-content: space-between;
    }
    &__social {
        width: 25px;
        height: 25px;
        background-color: #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
